@import "~bootstrap/scss/variables";

.octicon {
  display: inline-block;
  line-height: 1em;
  fill: currentColor;
  vertical-align: text-top;
}

.btn .octicon {
  vertical-align: text-top;
}

.card-header.collapsed {
  border-bottom: 0;
}

.tree-level-up {
  display: inline-block;
  padding: 0 0 0 16px;

  &:before {
    content: "..";
    display: inline-block;
    padding: 0 0.5em;
    border-radius: 0.2em;
    font-weight: bold;
    height: $line-height-base;
    line-height: $line-height-base;
  }

  &:hover, &:focus, &:active {
    &:before {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.collapsed-list {
  > * {
    display: none;
  }

  &:before {
    content: "\00B7\00B7\00B7";
    display: inline-block;
    padding: 0 0.5em;
    line-height: 1em;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.2em;
    cursor: pointer;
  }
}

.diff-slot {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border: none;
  color: $gray-300;
  background: currentColor;
  margin: 1px 0 1px 1px;
}

.commit-history {
  $icon-size: 16px;
  $gutter-width: 30px;

  .commit-history-header {
    .octicon {
      color: rgba($list-group-border-color, 3 * alpha($list-group-border-color));
      margin: 0 $gutter-width - $icon-size 0 0;
    }
  }

  .commit-history-items {
    margin: 0 0 0 $icon-size / 2 - 1;
    padding: 0.25em 0 1em $gutter-width - $icon-size / 2 - 2;
    border-left: 2px solid $list-group-border-color;
  }
}

.ssh-public-key {
  display: grid;
  grid-template-areas:
    "icon info actions"
    ". value .";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;

  .ssh-public-key-icon {
    grid-area: icon;
  }
  .ssh-public-key-info {
    grid-area: info;
  }
  .ssh-public-key-actions {
    grid-area: actions;
  }
  .ssh-public-key-value {
    grid-area: value;
  }
}
