{% spaceless %}
<div class="list-group mb-4">
  <strong class="list-group-item bg-o-primary text-secondary" style="z-index: 0 !important;">Settings</strong>
  <a class="list-group-item" href="settings/keys">SSH keys</a>
  <a class="list-group-item" href="settings/system">System settings</a>
</div>
{% endspaceless %}
