{% spaceless %}
<div class="row no-gutters bg-dark sticky-top">
  <div class="col-5">
    <nav class="navbar navbar-expand navbar-dark justify-content-start">
      <div class="navbar-nav">
        <div class="nav-item">
          <a class="nav-link pl-0" href="">Repositories</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="ssh-keys">SSH Keys</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-2 d-flex">
    <nav class="navbar navbar-expand navbar-dark justify-content-center w-100 p-0">
      <a class="navbar-brand m-0 p-0" href="">{% include 'icon.twig' with { icon: 'logo', size: 45 } %}</a>
    </nav>
  </div>
  <div class="col-5">
    <nav class="navbar navbar-expand navbar-dark justify-content-end">
      <div class="navbar-nav">
        <div class="nav-item">
          <a class="nav-link" href="javascript:void(0)">About</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="https://github.com/kravets-levko/gitkit" target="_blank">Report an issue</a>
        </div>
        <div class="nav-item">
          <a class="nav-link pr-0" href="javascript:void(0)">Help</a>
        </div>
      </div>
    </nav>
  </div>
</div>
{% endspaceless %}
