{% spaceless %}
  {% from '/macros.twig' import icon %}

  <div class="bg-dark sticky-top">
    <div class="container">
      <nav class="navbar navbar-expand navbar-dark justify-content-start pl-0 pr-0">
        <a class="navbar-brand p-0" href="">{{ icon(assetsPath, 'logo@app', 36) }}</a>

        <div class="navbar-nav">
          <div class="nav-item">
            <a class="nav-link pl-0" href=""><b>Repositories</b></a>
          </div>
        </div>

        <div class="flex-grow-1"></div>

        <div class="navbar-nav">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
              {{ icon(assetsPath, 'gear', 20, 20, 'align-top') }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="new">Create repository</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="settings/keys">SSH keys</a>
              <a class="dropdown-item" href="settings/system">System settings</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
{% endspaceless %}
