{% extends 'layout/main.twig' %}

{% block title %}GitKit{% endblock %}

{% block content %}
  <div>
    {% for group in repositories | keys %}
      {% for name in repositories[group] | keys %}
      <div>
        <a href="{{ group }}/{{ name }}">{{ group }}/{{ name }}</a>
      </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}