{% extends 'layout/main.twig' %}

{% block title %}{{ group }}/{{ name }} - GitKit{% endblock %}

{% block content %}
  <h1>{% include 'components/repository-link.twig' with {group: group, name: name} %}</h1>
  <div class="my-3">
    {% include 'components/repository-stats.twig' with {
      repository: repository,
      ref: ref,
      base: group ~ '/' ~ name,
    } %}
  </div>

  <div class="row my-3">
    <div class="col-auto">
      {% include 'components/ref-selector.twig' with {
        ref: ref,
        branches: repository.branches,
        tags: repository.tags,
        base: group ~ '/' ~ name,
      } %}
    </div>
    <div class="col"></div>
    <div class="col-auto">
      {% include 'components/clone-urls.twig' with {
        cloneUrls: repository.cloneUrls
      } %}
    </div>
  </div>

  <div class="card my-3">
    <div class="card-header border-0 p-0">
      {% include 'components/latest-commit.twig' with {
        commit: ref.head,
      } %}
    </div>

    <div class="card-body p-0">
      {% include 'components/tree-view.twig' with {
        ref: ref,
        defaultBranch: repository.defaultBranch,
        path: path,
        base: group ~ '/' ~ name,
      } %}
    </div>
  </div>

  <div class="my-3">
    {% include 'components/readme.twig' with {tree: ref.tree} %}
  </div>
{% endblock %}
