@import "~bootstrap/scss/variables";

.octicon {
  display: inline-block;
  line-height: 1em;
  fill: currentColor;
  vertical-align: text-top;
}

.btn .octicon {
  vertical-align: text-top;
}

.card-header.collapsed {
  border-bottom: 0;
}

.collapsed-list {
  > * {
    display: none;
  }

  &:before {
    content: "\00B7\00B7\00B7";
    display: inline-block;
    padding: 0 0.5em;
    line-height: 1em;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.2em;
    cursor: pointer;
  }
}

.diff-slot {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border: none;
  color: $gray-300;
  background: currentColor;
  margin: 1px 0 1px 1px;
}

.commit-history {
  $icon-size: 16px;
  $gutter-width: 30px;

  .commit-history-header {
    .octicon {
      color: rgba($list-group-border-color, 3 * alpha($list-group-border-color));
      margin: 0 $gutter-width - $icon-size 0 0;
    }
  }

  .commit-history-items {
    margin: 0 0 0 $icon-size / 2 - 1;
    padding: 0.25em 0 1em $gutter-width - $icon-size / 2 - 2;
    border-left: 2px solid $list-group-border-color;
  }
}
