@import "~bootstrap/scss/bootstrap";
@import "~octicons/build/build";
@import "helpers";

svg {
  display: inline-block;
}

// Make it hidden until rendered
markdown {
  display: block;
  white-space: pre-wrap;
}

.dropdown-menu.shadow {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.navbar {

  .navbar-brand {
    svg {
      width: 32px;
      height: 32px;
      vertical-align: top;

      path {
        fill: $gray-100;
      }
    }
  }

}

.btn.form-control {
  border: $input-btn-border-width solid $input-border-color;
  @include form-control-focus();
}

.diff-slot {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border: none;
  color: $gray-300;
  background: currentColor;
  margin: 1px 0 1px 1px;
}
