@import "~bootstrap/scss/bootstrap";
@import "helpers";

svg {
  display: inline-block;
}

.octicon {
  display: inline-block;
  line-height: 1em;
  fill: currentColor;

  svg {
    vertical-align: top;
  }
}

a.link-secondary {
  color: inherit;
  text-decoration: none;

  &:hover, &:active, &:focus {
    text-decoration: none;
    color: $link-hover-color;

    & *:not(.octicon) {
      color: inherit !important;
    }
  }
}

a.form-control {
  &, &:hover, &:active, &:focus {
    text-decoration: none;
    color: $input-color;
  }
}

.text-monospace {
  font-family: $font-family-monospace;
}

.text-block {
  display: block;
  white-space: pre-wrap;
}

.dropdown-menu.shadow {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.navbar {

  .navbar-brand {
    svg {
      width: 32px;
      height: 32px;
      vertical-align: top;

      path {
        fill: $gray-100;
      }
    }
  }

}

.btn.form-control {
  border: $input-btn-border-width solid $input-border-color;
  @include form-control-focus();
}

.collapsed-list {
  > * {
    display: none;
  }

  &:before {
    content: "\00B7\00B7\00B7";
    display: inline-block;
    padding: 0 0.5em;
    line-height: 1em;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.2em;
    cursor: pointer;
  }
}

.diff-slot {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border: none;
  color: $gray-300;
  background: currentColor;
  margin: 1px 0 1px 1px;
}
