@import "~bootstrap/scss/bootstrap";
@import "helpers";

svg {
  display: inline-block;
  vertical-align: top;
}

.navbar {

  .navbar-brand {
    svg {
      width: 32px;
      height: 32px;

      path {
        fill: $gray-100;
      }
    }
  }

}

.diff-slot {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border: none;
  color: $gray-300;
  background: currentColor;
  margin: 1px 0 1px 1px;
}
