<div class="row my-3">
  <div class="col-auto">
    {% include '../ref-selector.twig' with {
      ref: ref,
      branches: repository.branches,
      tags: repository.tags,
      defaultBranch: repository.defaultBranch,
      base: repository.name,
      prefix: '/tree/',
      suffix: tree.path is not empty ? ':' ~ tree.path : null,
    } %}
  </div>
  <div class="col d-flex align-items-center p-0 text-larger">
    {% include '../path-breadcrumbs.twig' with {
      path: tree.path,
      is_tree: true,
      repository: repository,
      ref: ref,
      base: repository.name,
    } %}
  </div>
  <div class="col-auto">
    {% include 'clone-urls.twig' with {
      cloneUrls: repository.cloneUrls,
      ref: ref,
      base: repository.name,
    } %}
  </div>
</div>

<div class="card my-3">
  <div class="card-header border-0 p-0">
    {% include '../latest-commit.twig' with {
      commit: ref.head,
      base: repository.name,
    } %}
  </div>

  <div class="card-body p-0">
    {% include 'tree-view.twig' with {
      ref: ref,
      defaultBranch: repository.defaultBranch,
      tree: tree,
      base: repository.name,
    } %}
  </div>
</div>

<div class="my-3">
  {% include 'readme.twig' with {tree: tree} %}
</div>
