{% spaceless %}
  {% from '/macros.twig' import icon %}

  {% set node = tree.children('README.*', 'README') | first %}
  {% if node.type == 'blob' %}
    <div class="card m-0">
      <div class="card-header">
        <span class="mr-1">{{ icon(assetsPath, 'book') }}</span>
        <span>{{ node.name }}</span>
      </div>
      <div vue-widget class="card-body scrollbox p-0">
        <markdown class="p-3">{{ node.data }}</markdown>
      </div>
    </div>
  {% endif %}
{% endspaceless %}
