@import "~bootstrap/scss/variables";

markdown {
  display: block;
  padding: 0;
  background: none;
  font-family: $font-family-monospace;
  white-space: pre-wrap;
}

.markdown {
  &:last-child {
    margin-bottom: 0 !important;
  }

  .hljs {
    margin: 1rem 0;
    padding: 0.75rem;
    background: $light;
    border-radius: $border-radius;
    overflow-x: auto;
  }
}
