{% spaceless %}
  {% set node = tree.children('README.*', 'README') | first %}
  {% if node.type == 'blob' %}
    <div class="card m-0">
      <div class="card-header">
        <span class="mr-1">{% include 'icon.twig' with { icon: 'book' } %}</span>
        <span>{{ node.name }}</span>
      </div>
      <div class="card-body"><markdown class="text-block">{{ node.data }}</markdown></div>
    </div>
  {% endif %}
{% endspaceless %}
