{% extends 'layout/main.twig' %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3 col-xs-3">
      <div class="list-group mb-4">
        <strong class="list-group-item bg-o-primary text-secondary"
          style="z-index: 0 !important;">Settings</strong>
        <a class="list-group-item" href="settings/keys">SSH keys</a>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-9 col-xs-9">
      {% block settings_page %}{% endblock %}
    </div>
  </div>
{% endblock %}
