{% extends 'pages/settings/layout.twig' %}

{% block title %}System settings - GitKit{% endblock %}

{% block settings_page %}
{% spaceless %}

  <h1 class="mb-0">System settings</h1>

{% endspaceless %}
{% endblock %}